<div class = "row">
	<div class = "ten columns centered mobile-six">
		<div class = "row">
			<% if (is_challenge) { %>
				<div class = "mobile-one columns"></div>
				<div class = "radius four columns centered mobile-four panel" style = "margin-bottom: 0.5em; margin-top: 0.5em">
					<div class = "row">
						<div class = "six columns mobile-two">
							<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
						</div>
						<div class = "six columns mobile-four" style = "text-align: center">
							<div style = "font-size: 1.2em; margin-top: 1.1em"><b><%= my_points %></b> points</div>
						</div>
					</div>
				</div>
				<div class = "mobile-one columns"></div>
				<div class = "radius twelve columns mobile-six panel" style = "text-align: center">
					<h5><%= reason.get('title') %></h5></br>
					<div class = "twelve columns mobile-six">
						<% for (i = 0; i < questions.length; i++) { %>
							<div class = "row">
								<% if (i === 0) { %>
									<button type = "button" id = "source<%= i %>" class = "round-top tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } else  if (i === questions.length - 1) { %>
									<button type = "button" id = "source<%= i %>" class = "round-bottom tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } else { %>
									<button type = "button" id = "source<%= i %>" class = "tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } %>
									
									<div class = 'ten columns mobile-five' style = "font-weight: normal; text-align: left">
										<%= quiz_qs[i] %>
									</div>
									<div class = "two columns mobile-one">
										<div class = "row">
											<div class = "four columns mobile-two">
												<div class ="row">
												<% if (my_quiz[i].get('answer') === 'correct') { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
														<div class = "green-bar">
															<%= my_quiz[i].get('time') + 's' %>
														</div>
													</div>
												<% } else { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
														<div class = "red-bar">X</div>
													</div>
												<% } %>
												</div>
											</div>
										</div>
									</div>
								</button>
							</div>
						<% } %>
					</div>
				</div>
				<div class = "twelve columns mobile-six">
					<button type = "button" id = "send_challenge" class = "large radius dark button" style = "width: 100%; margin-top: -0.5em">Send Challenge</button>
				</div>
				</div>
			<% } else { %>
				<% var winner = false; %>
				<% if (my_points > player_points) { %>
					<% winner = true; %>
				<% } %>
				<div class = "mobile-one columns"></div>
				<div class = "radius four columns centered mobile-four panel" style = "margin-bottom: 0.5em; margin-top: 0.5em">
					<div class = "row">
						<div class = "four columns mobile-two" style = "text-align: left">
							<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
							<div style = "font-size: 1.2em"><b><%= my_points %></b> points</div>
						</div>
						<div class = "four columns mobile-two" style = "text-align: center">
							<% if (winner) { %>
								<h5 style = "margin-top: 1em"><%= me.get('first_name') + ' ' + me.get('last_initial') + ' Wins!' %></h5>
							<% } else { %>
								<h5 style = "margin-top: 1em"><%= player.get('first_name') + ' ' + player.get('last_initial') + ' Wins!' %></h5>
							<% } %>
						</div>
						<div class = "four columns mobile-two" style = "text-align: right">
							<img src="https://graph.facebook.com/<%= player.get('uid') %>/picture"/>
							<div style = "font-size: 1.2em"><b><%= player_points %></b> points</div>
						</div>
					</div>
				</div>
				<div class = "mobile-one columns"></div>
				<div class = " radius twelve columns mobile-six panel" style = "text-align: center">
					<h5><%= reason.get('title') %></h5></br>
					<div class = "twelve columns mobile-six">
						<% for (i = 0; i < questions.length; i++) { %>
							<div class = "row">
								<% if (i === 0) { %>
									<button type = "button" id = "source<%= i %>" class = "round-top tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } else  if (i === questions.length - 1) { %>
									<button type = "button" id = "source<%= i %>" class = "round-bottom tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } else { %>
									<button type = "button" id = "source<%= i %>" class = "tiny button secondary" style = "width: 100%; margin-bottom: 0">
								<% } %>
									<div class = 'ten columns mobile-five' style = "font-weight: normal; text-align: left">
										<%= quiz_qs[i] %>
									</div>
									<div class = "two columns mobile-one">
										<div class = "row" style = "width: 62px">
											<div class = "six columns mobile-two">
												<div class ="row">
												<% if (my_quiz[i].get('answer') === 'correct') { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
														<div class = "green-bar">
															<%= my_quiz[i].get('time') + 's' %>
														</div>
													</div>
												<% } else { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= me.get('uid') %>/picture"/>
														<div class = "red-bar">X</div>
													</div>
												<% } %>
												</div>
											</div>
											<div class = "six columns mobile-two">
												<div class ="row">
												<% if (player_quiz[i].get('answer') === 'correct') { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= player.get('uid') %>/picture"/>
														<div class = "green-bar">
															<%= player_quiz[i].get('time') + 's' %>
														</div>
													</div>
												<% } else { %>
													<div style = "text-align: center; width: 30px">
														<img src="https://graph.facebook.com/<%= player.get('uid') %>/picture"/>
														<div class = "red-bar">X</div>
													</div>
												<% } %>
												</div>
											</div>
										</div>
									</div>
								</button>
							</div>
						<% } %>
					</div>
				</div>
				<div class = "twelve columns mobile-six">
					<button type = "button" id = "new_challenge" class = "radius large dark button" style = "width: 100%; margin-top: -0.5em">New Challenge</button>
				</div>
				</div>
			<% } %>
		</div>
	</div>
</div>