<% if (correct) { %>
	<div class = "row">
		<div class = "eight columns centered mobile-six">
			<div class = "radius row panel" style = "margin-top: 0.5em">
				<div class = "twelve columns mobile-six" id = "progress_bars" style = "margin-bottom: 2em; margin-top: -2em"></div>
				<div class = "tweleve columns mobile-six" style = "text-align: center; width: 100%; margin-bottom: 1em">
					<h5>Good Job!</h5>
				</div>
				<div class = "tweleve columns mobile-six" style = "text-align: center">
					<h6><%= source.get('description') %></h6>
				</div>
				<div class = "tweleve columns mobile-six" style = "text-align: center; margin-top: 2em; overflow: hidden">
					<% var urls = source.get('url').split(' '); %>
					<% for (i = 0; i < urls.length; i++) { %>
						<a href = "<%= urls[i] %>"><%= urls[i] %></a>
					<% } %>
				</div>
				<div class = "tweleve columns mobile-six" style = "text-align: center; margin-top: 2em; margin-bottom: 1em; width: 100%">
					<h5 style = "font-weight: normal">You got <b><%= points %></b> points</h5>
				</div>
				<div class = "twelve columns mobile-six" style = "text-align: center">
					<% var num = Math.floor(Math.random() * 17); %>
					<img src = '/assets/win<%= num + 1 %>.png' width = "90px">
				</div>
			</div>
		</div>
	</div>
<% } else { %>
	<div class = "row">
		<div class = "eight columns centered mobile-six">
			<div class = "radius row panel" style = "margin-top: 0.5em">
				<div class = "twelve columns mobile-six" id = "progress_bars" style = "margin-bottom: 2em; margin-top: -2em"></div>
				<div class = "tweleve columns mobile-six" style = "text-align: center; width: 100%; margin-bottom: 1em">
					<h5>Maybe Next Time...</h5>
				</div>
				</br></br>
				<div class = "tweleve columns mobile-six" style = "text-align: center">
					<h6><%= source.get('description') %></h6>
				</div>
				<div class = "tweleve columns mobile-six" style = "text-align: center; margin-top: 2em; overflow: hidden">
					<% var urls = source.get('url').split(' '); %>
					<% for (i = 0; i < urls.length; i++) { %>
						<a href = "<%= urls[i] %>"><%= urls[i] %></a>
					<% } %>
				</div>
			</div>
		</div>
	</div>
<% } %>